@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{  
    margin: 0px;
    padding:0px ;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(27deg, #AAC4FF 50%, #2c3e50 50%);
}
.form-body{
    width: 400px;
    min-width: 300px;
    border: 1px solid #2988b6;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
}
.form-body img{
    width: 100px;
    display: block;
    margin: 20px auto;
}
.form-body .text{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.form-body input[type="number"]{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
} 
.form-body input[name="n2"]{
    margin-top: 20px;
}
::placeholder{
    font-size: 1rem;
    color: rgba(255, 255, 255, 596);
}
.form-body input[type="number"]:hover{
    transition: 5s;
    border: 1px solid #2980b9;
    color: #2498db;
}
.form-body input[type="button"]{
    display: block;
    margin: auto;
    height: 40px;
    width: 78%;
    background: #b9c4c6;
    color: #34495e;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}
.form-body input[type="button"]:hover{
    transition: 5s;
    border: 2px solid #2980b9;
    color: #fff;
    background: linear-gradient(#34495e,#2c3e50);
} 
.js{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}